name: Build RdKafka

on:
  schedule:
    - cron: '0 4 * * *'
  repository_dispatch:
    types: [php-updated]
  workflow_dispatch:
    inputs:
      php_versions:
        description: 'PHP versions (comma-separated, empty=all)'
        type: string
      force_build:
        description: 'Force build'
        type: boolean
        default: false

jobs:
  build:
    uses: ./.github/workflows/_build-extension.yml
    with:
      extension: rdkafka
      packagist: rdkafka/rdkafka
      display_name: RdKafka
      brew_deps: "librdkafka"
      php_versions: ${{ inputs.php_versions || github.event.client_payload.php_versions || '' }}
      force_build: ${{ inputs.force_build || false }}
    secrets: inherit
